<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="first_order_rule" instance="Intership\FirstOrderCoupon\Observer\FirstOrderConditionObserver" />
    </event>
</config>
