<?xml version="1.0"?>
<!--
/**
 * Product Question
 * XML routes for Controller
 *
 * @category  Internship
 * @package   Internship\ProductQuestion
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2023 Tomkiv
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="product" frontName="product">
            <module name="Internship_ProductQuestion" />
        </route>
    </router>
</config>
