<?xml version="1.0"?>
<!--
/**
 * Product Question
 * XML of module settings
 *
 * @category  Internship
 * @package   Internship\ProductQuestion
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2023 Tomkiv
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Internship_ProductQuestion">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
